@media only screen and (max-width:700px) {
    .container {
        display: flex;
        flex-flow: wrap column;
    }
    div.titleSearch {
        display: None; 
    }

    }
    .dishlist{
        display: flex;
        justify-content: center;

    }


h1 {
    font-size: 36px;text-align: center;
    background: gray;
    padding: 20px;
    width: 100%;
    height: auto;
}
 /* DISH ITEM */

.dish{
    display: flex;
    border: 2px solid #000;
    width: 20%;
    min-width: 170px;
    max-width: 200px;
    height: 220px;
    flex-direction: column;
    margin: 10px;
    background: yellow;
    
}
img{
    height: 100%; 
    width: 100%;
}


#dishName{
    font-size: 8 px;
}

.container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

/* SIDE BAR */

.sideBar {
    display: flex;
    flex-flow: wrap column;
    flex: 2;
    border: #000 solid 2px;
    background: pink;
    
}
.navbar{
    display: flex;
    flex-direction: column;
    background: saddlebrown;
    
}


.guestPlanner{
    display: flex;
    flex-flow: column;
    justify-content: space-between; 
    padding: 10px;
    background: salmon;
}
.peopleBtn{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background: aqua;
}

.btns{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    background: slateblue;
}

.menuLabels {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background: lightgray;
    border:#000 solid 1px;
    padding: 10px;
    width:100%;
    background: firebrick;
}

.priceAndBtn{
    display: flex;
    flex-flow: column;
    align-self: center;
    background: darkgoldenrod;
}

#totalPrice{
    text-align: right;
    color: darkred;
}
.menuPlanner{
    display: flex;
    flex-flow: wrap column;
}

/* DISH SEARCH */

.dishList{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:  stretch;
    background: blueviolet;
}

.input{
    width: 20%;
}

.titleSearch{
    display: flex;
    flex-direction: column;
}

.dishSearch{
    display: flex;
    flex-direction: column;
    flex: 5;
    padding:20px;
    background: hotpink;
}
.dishSearch > *{
    padding: 10px;
}

.findDish{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: mediumaquamarine;
    
}

.margin{
    display: flex;
    margin-top: 20px;
    margin-right: 20px;
}

/* DISH DETAIL */

.dishDetail {
    display: flex;
    flex: 5;
    flex-flow: row;
    justify-content: space-between;
   
    margin: 30px;
    
}

.dishName1{
    display: flex;
    order:2;
    font-size: 30px;
    font-weight: bold;
}

.imageName{
    display: flex;
    flex-direction: column-reverse;
    
}
.singleImage{
    display: flex;
    order: 1;
}

.dishInfo{
    display: flex;
    flex:3;
    flex-direction: row;
    background: yellow;
    margin: 30px;
}
.dishInfo > .frame{
    margin: 50px;
}

